body {
    font-family: 'Public Sans', sans-serif;
}



/* General styles */

.my_h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.my_h2 {
    font-size: 2rem;
    font-weight: 700;
}

.my_h3 {
    font-size: 1rem;
    font-weight: 600;
}

.my_h3-nav {
    font-size: 1rem;
    font-weight: 800;
}

.my_h4 {
    font-size: .8rem;
}

.my_h4-nav {
    font-size: .7rem;
    font-weight: 700;
}


.my_text {
    font-size: .8rem;
    font-weight: 500;
}

.my_text-subfooter {
    font-size: .6rem;
}

.contact-me h2,
.portfolio h2 {
    color: #2c3e50;   
}

.contact-me .fa-star,
.portfolio .fa-star {
    font-size: 1.2rem;
    color: #2c3e50;
}

.section-1 .fa-star,
.about .fa-star {
    font-size: 1.2rem;
    color: #2c3e50;
}

.line {
    min-width: 50px;
}

.section-1 .line {
    width: 8%;
    background-color: white;
    border: 1.5px solid white;

}

.portfolio .line {
    width: 8%;
    color: #2c3e50;
    border: 1.5px solid #2c3e50;
    background-color: #2c3e50;
}

.about .line {
    width: 8%;
    background-color: white; 
    border: 1.5px solid white;
}

.contact-me .line {
    width: 11%;
    color: #2c3e50;
    border: 1.5px solid #2c3e50;
    background-color: #2c3e50;
}



/* Navbar */

 
.header-page {
    background-color: #1abc9c;
}

.header-page nav {
    background-color: #2c3e50 !important;
    height: 3.5rem;
    z-index: 100;
}

.navbar-toggler {
    border-color: white;
    padding: .3em .5em;
}

.navbar i {
    color: #6c757d;
}



/* First Section */

.section-1 {
    margin-top: 3.5rem;
}



/* Portfolio */

.layover {
    z-index: -1;
    inset: 0;
    background-color: rgba(33, 165, 79, 0.7);  
}

.layover i {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}



/* About */

.about {
    background-color: #1abc9c;
}



/* Contact Me */

form .form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

form textarea {
    height: 50%;
}

.contact-me button {
    background-color: #1abc9c;
    border: 0 ;
}



/* Footer */

footer {
    background-color: #3a546d;
}

.circle-social {
    flex-basis: 2.5rem;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    border-radius: 50px;
}

footer span {
    color: #1abc9c;
}

.sub-footer {
    background-color: #2c3e50;
}



/* Hover */

.my_card:hover .layover {
    z-index: 1;
}

header .navbar li :hover {
    color: #1abc9c !important;
}

.contact-me button:hover {
    background-color: #6c757d;
}

.form-control:focus {
    border-color: white;
    box-shadow: 0.25rem 0.125rem .3rem #6c757d;
}
